{% extends 'layouts/base.html' %}

{% block title %} Buat Masakan Baru {% endblock title %}

{% block content %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'cuisine-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card {% if request|is_mobile %}mb-6 z-index-0{% else %}mb-4{% endif %}">
                    <div class="card-header">
                        <div class="row">
                            <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                                <h4 class="mb-2">Buat Masakan Baru</h4>
                            </div>
                            <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><button type="submit" class="dropdown-item border-radius-md text-body">Simpan</button></li>
                                        <li><a class="dropdown-item border-radius-md" href="{% url 'cuisine-index' %}">Batal</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <button type="submit" class="btn btn-sm bg-gradient-primary mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Simpan</button>
                                <a href="{% url 'cuisine-index' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Batal</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.cuisine_id.label_tag }}{{ form.cuisine_id }}
                                        <div class="text-sm text-danger">
                                            {{ form.cuisine_id.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.cuisine_name.label_tag }}{{ form.cuisine_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.cuisine_name.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let btn_menu = document.getElementById('dropdownTable');
    if (btn_menu) {
        btn_menu.addEventListener('click', function() {
            this.nextElementSibling.classList.toggle('show');
        });
    }
</script>
{% endblock javascripts %}