{% extends 'layouts/base.html' %}

{% block title %} Buat Paket Baru {% endblock title %}

{% block content %}

{% load user_agents %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'package-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card {% if request|is_mobile %}mb-6 z-index-0{% else %}mb-4{% endif %}">
                    <div class="card-header">
                        <div class="row">
                            <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                                <h4 class="mb-2">Buat Paket Baru</h4>
                            </div>
                            <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><button type="submit" class="dropdown-item border-radius-md text-body">Simpan</button></li>
                                        <li><a class="dropdown-item border-radius-md" href="{% url 'package-index' %}">Batal</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <input type="checkbox" class="cursor-pointer border mt-4" name="active"/>
                                <label class="form-control-label mt-4 me-4">Aktif</label>
                                <input type="checkbox" class="cursor-pointer border mt-4" name="promo"/>
                                <label class="form-control-label mt-4 me-4">Ikut Promo</label>
                                <button type="submit" class="btn bg-gradient-primary mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Simpan</button>
                                <a href="{% url 'package-index' %}" class="btn bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Batal</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <!-- {% if message %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ message }}
                            </div>
                            {% endif %} -->
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.package_id.label_tag }}{{ form.package_id }}
                                        <div class="text-sm text-danger">
                                            {{ form.package_id.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.package_name.label_tag }}{{ form.package_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.package_name.errors }}
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.category.label_tag }}
                                        <select name="category" class="form-control form-select-sm">
                                            <option value="">-- Pilih Kategori --</option>
                                            {% for item in categories %}
                                            <option value="{{ item.category_id }}">{{ item.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.category.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.male_price.label_tag }}{{ form.male_price }}
                                        <div class="text-sm text-danger">
                                            {{ form.male_price.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.female_price.label_tag }}{{ form.female_price }}
                                        <div class="text-sm text-danger">
                                            {{ form.female_price.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.box.label_tag }}{{ form.box }}
                                        <div class="text-sm text-danger">
                                            {{ form.box.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.quantity.label_tag }}{{ form.quantity }}
                                        <div class="text-sm text-danger">
                                            {{ form.quantity.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.type.label_tag }}
                                        <select name="type" class="form-control form-select-sm">
                                            <option value="">-- Pilih --</option>
                                            <option value="Jantan">Jantan</option>
                                            <option value="Betina">Betina</option>
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.type.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.goat_type.label_tag }}
                                        <select name="goat_type" class="form-control form-select-sm">
                                            <option value="">-- Pilih --</option>
                                            {% for item in goat_types %}
                                            <option value="{{ item.goat_type_id }}">{{ item.goat_type_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.goat_type.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.goat_type2.label_tag }}
                                        <select name="goat_type2" class="form-control form-select-sm">
                                            <option value="">-- Pilih --</option>
                                            {% for item in goat_types %}
                                            <option value="{{ item.goat_type_id }}">{{ item.goat_type_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.goat_type2.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.dashboard.label_tag }}
                                        <select name="dashboard" class="form-control form-select-sm">
                                            <option value="">-- Pilih --</option>
                                            {% for item in dashboards %}
                                            <option value="{{ item.dashboard_id }}">{{ item.dashboard_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.dashboard.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let btn_menu = document.getElementById('dropdownTable');
    if (btn_menu) {
        btn_menu.addEventListener('click', function() {
            this.nextElementSibling.classList.toggle('show');
        });
    }
</script>
{% endblock javascripts %}